COMPOSE_PROFILES=core

AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1

REDIS_URL=redis://localhost:6379/0

ORDERS_TABLE=orders
OUTBOX_TABLE=outbox
SNS_TOPIC_NAME=order-events